<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <style>
        body{
            background-color: #abd1c6;
        }
        .navbar{
            color: #001e1d;
        }
        .container {
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .card{
            background-color: #004643;
            color: #abd1c6;
        }
        .card-title{
            color: #fffffe;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="main.html">Strona Główna</a>
              <a class="nav-link" href="extraction.html">Ekstrakcja</a>
              <a class="nav-link" href="p_list.html">Lista produktów</a>
              <a class="nav-link" href="author.html">O Autorze</a>
            </div>
          </div>
        </div>
    </nav>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cel Aplikacji</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quia deleniti cupiditate soluta veniam dolorem in voluptatem nihil maiores sit veritatis dolores necessitatibus illum a repellendus, earum, quod sunt! Placeat!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Opis Działania Aplikacji</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum molestiae officiis nobis, dolorem quia sequi. Ipsam sapiente doloribus labore obcaecati error doloremque hic quae excepturi ducimus, voluptas reiciendis minima officiis?</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zastosowane Biblioteki</h5>
            <ul>
                <li>123</li>
                <li>123</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Zastosowane Podejścia</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos aliquid quidem neque perferendis libero tempore, alias et similique officiis laborum facere adipisci ut. Ipsam error repudiandae dolor sunt sed! Voluptatem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>